@using Stardome.DomainObjects
﻿@model Stardome.Models.ContentModel
@Scripts.Render("~/Scripts/jsTree")
@Scripts.Render("~/Scripts/bootstrap")
@Styles.Render("~/Content/jsTree")
@Styles.Render("~/Content/bootstrap")
@if (Request.IsAuthenticated == false)
{
    Response.Redirect("~/Account/Login");

}
@if (Model.RoleId != (int)Enums.Roles.Admin && Model.RoleId != (int)Enums.Roles.Producer && Model.RoleId != (int)Enums.Roles.User)
{
    Response.Redirect("~/Account/Login");
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
        </div>
    </section>
}
<html>
<head>
    <meta charset="utf-8">
    <title>Content</title>
    <script type="text/javascript">       

        var htmlDDlist = new Array;
        var subList = new Array;
        subList[0] = ["C:\\Users\\Jason\\Documents\\Stardome\\trunk\\Stardome\\Stardome\\ABC\\", "ABC"];
        subList[1] = ["C:\\Users\\Jason\\Documents\\Stardome\\trunk\\Stardome\\Stardome\\CNN\\", "CNN"];
        subList[2] = ["C:\\Users\\Jason\\Documents\\Stardome\\trunk\\Stardome\\Stardome\\FOX\\", "FOX"];

        root = subList[0][0];@*'@Model.RootPath';*@        
    </script>

</head>
<body>
    
    <div>
        <table id="labels">
            <tr>               
                <td><div id="dropD"></div></td>
                <td>Files For Download</td>
            </tr>
        </table>
    </div>
    <div class="outer">        
        <div class="innerwrap">
            <div id="MainTree"></div>
            <div id="selectedFileList"></div>
        </div>
    </div>

    <div id="dialog-confirm"></div>

    @if (Model.RoleId == (int)Enums.Roles.Admin || Model.RoleId == (int)Enums.Roles.Producer)
    {
        using (Html.BeginForm("Actions", "Manage", FormMethod.Post))
        {
            <label id="lastDir"></label>
            <input type="hidden" name="lastSelected" id="lastSelected" value="" />
            <label for="file">Upload File</label>
            <input type="file" name="files" multiple="multiple" />
            <br>
            <br>
            <input type="submit" value="Upload Selected Files" />
            <br>
            @ViewBag.Message<br>
        }
    }
</body>
</html>

