@using Stardome.DomainObjects
﻿@model Stardome.Models.ContentModel
@Scripts.Render("~/Scripts/jsTree")
@Scripts.Render("~/Scripts/test")
@Styles.Render("~/Content/jsTree")

@if (Request.IsAuthenticated == false)
{
    Response.Redirect("~/Account/Login");
}
@if (Model.RoleId != (int)Enums.Roles.Admin && Model.RoleId != (int)Enums.Roles.Producer && Model.RoleId != (int)Enums.Roles.User)
{
    Response.Redirect("~/Account/Login");
}
@{
    ViewBag.Title = "Content Management";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}

<script type="text/javascript">

    var Role = '@Model.RoleId';
    var UserId = '@WebSecurity.CurrentUserId';

    root = '@System.Web.HttpUtility.JavaScriptStringEncode(Server.MapPath("~/Stardome"))' + '\\';

    $(document).ready(function () {
        initializer(Role);

        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });
        

    });
    $(document).on('change', '.btn-file :file', function () {
        debugger
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });
</script>

<div>
    <table id="labels">
        <tr>
            <td><div id="dropD"></div></td>
            <td>Files For Download</td>
        </tr>
    </table>
</div>
<div class="outer">
    <div class="innerwrap">
        <div id="MainTree"></div>
        <div id="selectedFileList"></div>
    </div>
</div>

<div id="dialog-confirm"></div>



<div style="float:left; width:100%">
    @if (Model.RoleId == (int)Enums.Roles.Admin || Model.RoleId == (int)Enums.Roles.Producer)
    {
        

            <table style="width: 100%">
                <tr>
                    <td style="width: 40%">

                        <div id="dialog-upload" style="display:none" >
                            <div class="col-lg-6 col-sm-6 col-12" style="width: 100%">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-primary btn-file">
                                            Browse&hellip; <input id="fileUpload" type="file" multiple name="files">
                                        </span>
                                    </span>
                                    <input type="text" class="form-control" readonly>
                                </div>
                               
                            </div>


                        </div>

                        @*<div class="col-lg-6 col-sm-6 col-12" style="width: 100%">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        Browse&hellip; <input type="file" multiple name="files">
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly>
                            </div>
                        </div>*@

                    </td>
                    <td>@*<button type="button" class="btn btn-primary" id="btnUpload">Upload Files</button>*@</td>
                    <td style="width: 30%"></td>
                    <td><button type="button" class="btn btn-primary" onclick="downloadAsZip()">Download as Zip</button></td>
                </tr>
            </table>


        
    }
</div>
<div>

</div>


