@using Stardome.DomainObjects
﻿@model Stardome.Models.ContentModel
@Scripts.Render("~/Scripts/jsTree")
@Scripts.Render("~/Scripts/bootstrap")
@Styles.Render("~/Content/jsTree")
@Styles.Render("~/Content/bootstrap")
@if (Request.IsAuthenticated == false)
{
    Response.Redirect("~/Account/Login");

}
@if (Model.RoleId != (int)Enums.Roles.Admin && Model.RoleId != (int)Enums.Roles.Producer && Model.RoleId != (int)Enums.Roles.User)
{
    Response.Redirect("~/Account/Login");
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>

        </div>
    </section>
}
<html>
<head>
    <meta charset="utf-8">
    <title>Content</title>
    <script type="text/javascript">
        root = '@Model.RootPath';

        var htmlDDlist = new Array;
        var subList = new Array;
        subList = ["Test1", "Test2", "Test3"];



        $(document).ready(function () {
            htmlDDlist.push('<div class="dropdown"><button class=\"btn btn-default dropdown-toggle\" type=\"button\" id=\"dropdownMenu1\" data-toggle=\"dropdown\" aria-expanded=\"true\">Dropdown<span class=\"caret\"></span></button>');
            htmlDDlist.push('<ul class=\"dropdown-menu\" role=\"menu\" aria-labelledby=\"dropdownMenu1\">');
            for (var i = 0; i < subList.length; i++) {
                htmlDDlist.push('<li role="presentation"><a role="menuitem" tabindex="-1" href="#">' + subList[i] + '</a></li>');
            }
            htmlDDlist.push('</div>');
            document.getElementById('dropD').innerHTML = htmlDDlist.join("");

            $(function () {
                $(".dropdown-menu li a").click(function () {
                    $(".btn:first-child").text($(this).text());
                    $(".btn:first-child").val($(this).text());
                });
            });
        });
    </script>

</head>
<body>
    <div>
        <table id="labels">
            <tr>
                <td>Files & Folders</td>
                <td>Files For Download</td>
            </tr>
        </table>
    </div>
    <div class="outer">
        <div id="dropD"></div>
        <div class="innerwrap">
            <div id="MainTree"></div>
            <div id="selectedFileList"></div>
        </div>
    </div>

    <div id="dialog-confirm"></div>

    @if (Model.RoleId == (int)Enums.Roles.Admin || Model.RoleId == (int)Enums.Roles.Producer)
    {
        using (Html.BeginForm("Actions", "Manage", FormMethod.Post))
        {
            <label id="lastDir"></label>
            <input type="hidden" name="lastSelected" id="lastSelected" value="" />
            <label for="file">Upload File</label>
            <input type="file" name="files" multiple="multiple" />
            <br>
            <br>
            <input type="submit" value="Upload Selected Files" />
            <br>
            @ViewBag.Message<br>
        }
    }
</body>
</html>

