@using Stardome.DomainObjects
@using MvcCheckBoxList.Model

﻿@model Stardome.Models.ContentModel
@Scripts.Render("~/Scripts/jsTree")
@Styles.Render("~/Content/jsTree")
@if (Request.IsAuthenticated == false)
{
    Response.Redirect("~/Account/Login");

}
@if (Model.RoleId != (int)Enums.Roles.Admin)
{
    Response.Redirect("~/Account/Login");
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
        </div>
    </section>
}
<html>
<head>
    <meta charset="utf-8">
    <title>Content</title>
    <script type="text/javascript">

        root = '@System.Web.HttpUtility.JavaScriptStringEncode(Server.MapPath("~/Stardome"))' + '\\';

        $(document).ready(function () {
            var Role = '@Model.RoleId';
            initializer_Permissions(Role);
        });
    </script>



</head>
<body>
    <div style="width:1000px">
        <div style="width:200px; float:left; display:inline-block;">Select User/Users</div>
        <div style="width:500px; display:inline-block">Select Folder/Folders</div>
        <div style="width:200px; display:inline-block">Selected Folders</div>
    </div>
    <div style="clear:left;height:500px;">
        <div style="float:left;  width:200px; display:inline-block">
            @Html.CheckBoxListFor(m => m.PostedUsers.UserIds, m => m.UserList, m => m.Id, m => m.Username,
                                                                     m => m.SelectedUsers, Position.Vertical, x => new { @class = "styled_checkbox" })
        </div>

        <div id="MainTree" style="width:500px; display:inline-block"></div>
        <div style="width:200px; display:inline-block"></div>

    </div>
    <div style="width:1000px">
        <input type="submit" value="Update" />
        <input type="submit" value="Cancel" />

    </div>
</body>
</html>  