@using Stardome.DomainObjects
@using MvcCheckBoxList.Model

﻿@model Stardome.Models.ContentModel
@Scripts.Render("~/Scripts/jsTree")
@Styles.Render("~/Content/jsTree")
@if (Request.IsAuthenticated == false)
{
    Response.Redirect("~/Account/Login");

}
@{
    ViewBag.Title = "Manage Content Permissions";
}
@if (Model.RoleId != (int)Enums.Roles.Admin)
{
    Response.Redirect("~/Account/Login");
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
        </div>
    </section>
}


    <script type="text/javascript">
        root = '@System.Web.HttpUtility.JavaScriptStringEncode(Server.MapPath("~/Stardome"))' + '\\';
        $(document).ready(function () {
            $('#ddlUsers').change(function () {
                var UserId = $(this).val();
                if (UserId > 0) {
                    $.ajax({
                        url: "/Manage/GetFolderPermissionsForUser",
                        type: "POST",
                        data: JSON.stringify({ UserId: UserId }),
                        dataType: 'json',
                        contentType: 'application/json',
                        error: function (xhr) {
                            
                            //alert('Error: ' + xhr.statusText);
                        },
                        success: function (result) {
                            debugger
                            Tree_Permissions(root);
                            selectedFolders.length = 0;
                            selectedFolderNames.length = 0;
                            selectedFolders = result.folderIds.slice();
                            selectedFolderNames = result.folderNames.slice();

                        },
                        async: true,
                        processData: false
                    });
                }

            });

            var Role = '@Model.RoleId';
            initializer_Permissions(Role);

        });

    </script>

    <div style="width:1100px">
        <div style="width:300px; float:left; display:inline-block;">Select User</div>
        <div style="width:500px; display:inline-block">Select Folder/Folders</div>
    </div>

    <div style="clear:left;width:1100px;">
        <div style="float:left;  width:300px; display:inline-block">
            @Html.DropDownList("UserList", new SelectList(Model.UserList, "Id", "DisplayName"), "--Select a User--", new { @id = "ddlUsers", @class= "selectpicker" })
        </div>

        <div id="MainTree" style="width:500px; display:inline-block"></div>

    </div>
    <div style="width:1100px; clear:left;">
        <button onclick="updatePermissions()" type="submit" class="btn btn-primary">Update</button>
        <button type="submit" class="btn btn-primary">Cancel</button>

    </div>
    <div id="AddUserstoFolder" style="display:none">

        @foreach (var usrs in Model.UserList)
        {
            <input type="checkbox" name="chkUserId" value="@usrs.Id" id="@usrs.Id" onclick="addUsertoList(this.id)" />
            <label for="@usrs.Id" style="display:inline">@usrs.DisplayName</label>
            <br />
        }

    </div>
<p class="message-success">
    <label id="lblUpdateMessage"></label>
</p>
