@using Stardome.DomainObjects
@using MvcCheckBoxList.Model

﻿@model Stardome.Models.ContentModel
@Scripts.Render("~/Scripts/jsTree")
@Styles.Render("~/Content/jsTree")
@if (Request.IsAuthenticated == false)
{
    Response.Redirect("~/Account/Login");

}
@if (Model.RoleId != (int)Enums.Roles.Admin)
{
    Response.Redirect("~/Account/Login");
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
        </div>
    </section>
}
<html>
<head>
    <meta charset="utf-8">
    <title>Content</title>
    <script type="text/javascript">

        root = '@System.Web.HttpUtility.JavaScriptStringEncode(Server.MapPath("~/Stardome"))' + '\\';

        $(document).ready(function () {
            $('#ddlUsers').change(function () {
                var UserId = $(this).val();
                if (UserId> 0) {
                    $.ajax({
                        url: "/Manage/GetFolderPermissionsForUser",
                        type: "POST",
                        data: JSON.stringify({ UserId: UserId }),
                        dataType: 'json',
                        contentType: 'application/json',
                        error: function (xhr) {
                            alert('Error: ' + xhr.statusText);
                        },
                        success: function (result) {
                        },
                        async: true,
                        processData: false
                    });
                }
                
            });


            var Role = '@Model.RoleId';
            initializer_Permissions(Role);
           
        });


       

    </script>



</head>
<body>
    <div style="width:1100px">
        <div style="width:300px; float:left; display:inline-block;">Select User</div>
        <div style="width:500px; display:inline-block">Select Folder/Folders</div>
        <div style="width:200px; display:inline-block">Selected Folders</div>
    </div>
    <div style="clear:left;height:500px;">
        <div style="float:left;  width:300px; display:inline-block">

            @*@foreach (var usrs in Model.UserList)
            {
                <input type="checkbox" name="SelectedGroups" value="@usrs.Id" id="@usrs.Id" onclick="getUserPermissions(this.id)" />
                    <label for="@usrs.Id" style="display:inline">@usrs.DisplayName</label>
                <br />
            }*@
            @Html.DropDownList("UserList", new SelectList(Model.UserList, "Id", "DisplayName"), "--Select a User--", new {@id = "ddlUsers" })
        </div>

        <div id="MainTree" style="width:500px; display:inline-block"></div>
        <div style="width:200px; display:inline-block"></div>

    </div>
    <div style="width:1100px">
        <input type="submit" value="Update" />
        <input type="submit" value="Cancel" />

    </div>
</body>
</html>  