@using Stardome.DomainObjects
@model Stardome.Models.SettingModel

@if (Request.IsAuthenticated == false)
{
    Response.Redirect("~/Account/Login");
}
@if (Model.RoleId != (int) Enums.Roles.Admin)
{
    Response.Redirect("~/Admin/Content");
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>

        </div>
    </section>
}

<div style="horiz-align:center; width: 800px">
@using (Html.BeginForm())
{
    <fieldset>
        <section>
            
                <table style="margin:0 auto; align=center;">
                @Html.ValidationSummary()


                @foreach (string category in Model.Categories)
                {
                    <tr style="border-width: 2px; border-bottom-width:2px; border-bottom-color:black; border-bottom-style: solid;">
                        <td>
                            <h3>
                                @Html.DisplayFor(m => category)
                                @Html.HiddenFor(m => category)
                            </h3>
                        </td>
                        <td></td>
                    </tr>
                    foreach (var setting in Model.Settings.Where(aSetting => aSetting.Item1.Equals(category)))
                    {
                        <tr>
                        <td>
                            <b>
                                @Html.DisplayFor(m => setting.Item2)
                                @Html.HiddenFor(m => setting.Item2)
                                @Html.HiddenFor(m => setting.Item4)
                            </b>
                        </td>
                        <td>@Html.TextBoxFor(m => setting.Item3)
                        </td>
                    </tr>
                    }
                    
                }
            </table>
            
            <div style="width:650px; clear:left; float:left;">
                <input type="submit" value="Update" />
            </div>
        </section>
    </fieldset>
    <p class="message-success">
        @Html.Label("lblUpdateMessage", (string)ViewBag.UpdateMessage) </p>
}
</div>