@using Stardome.DomainObjects
﻿@model Stardome.Models.SettingModel
@if (Request.IsAuthenticated == false)
{
    Response.Redirect("~/Account/Login");
}
@if (Model.RoleId != (int) Enums.Roles.Admin)
{
    Response.Redirect("~/Admin/Content");
}
@{
    ViewBag.Title = "Site Settings";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
        </div>
    </section>
}

<div style="horiz-align:center; width: 800px;  margin: 0 auto;">
@using (Html.BeginForm())
{
    <fieldset>
        <section>
                <table style="margin:0 auto; align:center;">
                @Html.ValidationSummary()

                
                    @for (int i = 0; i < Model.Settings.Count; i++){
                    
                        <tr style="border-width: 2px; border-bottom-width:2px; border-bottom-color:black; border-bottom-style: solid;">
                            @if (i == 0 || (i > 0 && Model.Settings[i].Category != Model.Settings[i - 1].Category)){

                                <td colspan="2">
                                    <h3>
                                        @Html.DisplayFor(m => Model.Settings[i].Category)
                                        @Html.HiddenFor(m => Model.Settings[i].Category)
                                    </h3>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    @Html.DisplayFor(m => Model.Settings[i].Name)
                                    @Html.HiddenFor(m => Model.Settings[i].Name)
                                    @Html.HiddenFor(m => Model.Settings[i].Id)
                                    @Html.HiddenFor(m => Model.Settings[i].Category)
                                </b>
                            </td>
                            <td>@Html.TextBoxFor(m => Model.Settings[i].Value)
                            </td>
                        </tr>
                    }
                </table>
            
            <div style="width:650px; clear:left; float:left;">
                <td><button type="submit" class="btn btn-primary">Update</button></td>
            </div>
        </section>
    </fieldset>
    <p class="message-success">
        @Html.Label("lblUpdateMessage", (string)ViewBag.UpdateMessage) </p>
}
</div>