﻿@model List<Stardome.DomainObjects.SiteSetting>
@if (Request.IsAuthenticated == false)
{
    Response.Redirect("~/Account/Login");
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>

        </div>
    </section>
}
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Registration Form</legend>
        <section>
            <table>
                @Html.ValidationSummary()


                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            <b>
                                @Html.DisplayFor(m => Model[i].Category)
                                @Html.HiddenFor(m => Model[i].Category)
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                @Html.DisplayFor(m => Model[i].Name)
                                @Html.HiddenFor(m => Model[i].Name)
                                @Html.HiddenFor(m => Model[i].Id)
                            </b>
                        </td>
                        <td>@Html.TextBoxFor(m => Model[i].Value)
                        </td>
                    </tr>
                }
            </table>
            <div style="width:650px; clear:left; float:left;">
                <input type="submit" value="Update" />
            </div>
        </section>
    </fieldset>
    <p class="message-success">
        @Html.Label("lblUpdateMessage", (string)ViewBag.UpdateMessage) </p>
}
