<script type="text/javascript">
    $(document).ready(function () {

        $('#UserTableContainer').jtable({
            title: 'User List',
            paging: true, //Enable paging
            pageSize: 20, //Set page size (default: 20)
            sorting: true, //Enable sorting
            defaultSorting: 'Name ASC', //Set default sorting
            actions: {
                listAction: '@Url.Action("GetUsers", "Admin")',
                deleteAction: '@Url.Action("DeleteUser", "Admin")',
                updateAction: '@Url.Action("UpdateUser", "Admin")',
                createAction: '@Url.Action("Register", "Account")',
            },
            fields: {
                Id: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                Name: {
                    title: 'Name',
                    width: '23%'
                },
                EmailAddress: {
                    title: 'Email address',
                    list: true
                },
                Username: {
                    title: 'Username',
                    list: true
                },
                Role: {
                    title: 'Role',
                    list: true/*,
                    type: 'radiobutton',
                    options: {
                        '1': 'Admin',
                        '2': 'Producer',
                        '3': 'User',
                        '4': 'InActive'
                    }*/
                }
            }
        });

        $('#UserTableContainer').jtable('load');
    });
</script>

@if (Request.IsAuthenticated == false)
{
    Response.Redirect("~/Account/Login");

}

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<p>
    @Html.ActionLink("Register", "Register", "Account") Create a New Account.
</p>

<h2>Landing Page for Admins to Manage User accounts</h2>

<div id="UserTableContainer"></div>