@using Stardome.DomainObjects
@model Stardome.Models.MainModel
@if (Model.RoleId != (int)Enums.Roles.Admin)
{
    Response.Redirect("~/Admin/Content");
}
@{
    ViewBag.Title = "Manage Users";
}
<script type="text/javascript">
    var showAllUsers = false;
    $(document).ready(function () {
        var roles = '@Url.Action("GetRoles", "Admin")';
        $('#UserTableContainer').jtable({
            title: 'User List',
            paging: false, //Enable paging
            //pageSize: 20, //Set page size (default: 20)
            sorting: true, //Enable sorting
            actions: {
                listAction: '@Url.Action("GetActiveUsers", "Admin")',
                listAllAction: '@Url.Action("GetAllUsers", "Admin")',
                deleteAction: '@Url.Action("DeleteUser", "Admin")',
                updateAction: '@Url.Action("UpdateUser", "Admin")',
                createAction: '@Url.Action("Register", "Account")',
            },
            fields: {
                Id: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false,
                    sorting: true
                },
                FirstName: {
                    title: 'First Name',
                    width: '23%',
                    sorting: true
                },
                LastName: {
                    title: 'Last Name',
                    width: '23%',
                    sorting: true
                },
                EmailAddress: {
                    title: 'Email address',
                    list: true,
                    sorting: true
                },
                Username: {
                    title: 'Username',
                    edit: false,
                    list: true,
                    sorting: true
                },
                RoleId: {
                    title: 'Role',
                    list: true,
                    sorting: true,
                    options: {
                        '1': 'Admin',
                        '2': 'Producer',
                        '3': 'Client',
                        '4' : 'Inactive'

                    }
                    
                }
            }
        });

        $('#UserTableContainer').jtable('load');
    });

    $(function() {
        $('#toggle-active').change(function() {
            showAllUsers = !showAllUsers;
            $('#UserTableContainer').jtable('load');
        });
    });

</script>

@if (Request.IsAuthenticated == false)
{
    Response.Redirect("~/Account/Login");

}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
        </div>
    </section>
}
<div style="margin: 10px;"><input id="toggle-active" checked type="checkbox" data-toggle="toggle" data-on="Active Users" data-off="All Users" data-offstyle="info"></div>

<div id="UserTableContainer"></div>