@model Stardome.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <section>
           <div style="clear:left; float:left;  padding-right:5px; ">
               Role: @Html.DropDownListFor(m => Model.RoleId, new SelectList(ViewBag.Roles, "Id", "Role1", 1), new { style = "height:25px;" })
            </div>
            <div style="clear:left; float:left; padding-right:5px; ">
                @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name" })
                @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name" })

            </div>
            <div style="clear:left; float:left;  padding-right:5px; ">
                @Html.TextBoxFor(m => m.EmailAddress, new { style = "width:615px;", placeholder = "Email Address" })
            </div>
                <div style="clear:left; float:left; padding-right:5px;">
                    @Html.TextBoxFor(m => m.UserName, new { placeholder = "User Name" })
                </div>

                <div style="float:left">
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })<br />
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password" })
                </div>



                <div style="width:650px; clear:left; float:left;">
                    <input type="submit" value="Register" />
                </div>

</section>
        
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
