
@Scripts.Render("~/Scripts/jsTree")
@Styles.Render("~/Content/jsTree")
@if (Request.IsAuthenticated == false)
{
    Response.Redirect("~/Account/Login");

}

@{
    ViewBag.Title = "Upload";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>

        </div>
    </section>
}
<html>

<head>
    <meta charset="utf-8">
    <title>jsTree test</title>

    <script type="text/javascript">
        var path = 'C:/Users/';
        function openFile(file) {
            window.location = file;
        }
        $(document).ready(function () {
            $('#MainTree').fileTree({
                root: 'C:/Users/',
                script: '../Scripts/jqueryFileTree.aspx'
            }, function (file) {
                openFile(file);
            }); 
        });
    </script>

</head>
<body>
    <h2>Files</h2>
    <div id="MainTree"></div>
    

    @using (Html.BeginForm("Upload", "Producer", new { selectPath = "~/TestUploads" },
    FormMethod.Post, new { enctype = "multipart/form-data", }))
    {
        <label for="file">Upload File</label>
        <input type="file" name="files" multiple="multiple" /><br><br>
        <input type="submit" value="Upload Selected Files" /><br>
        @ViewBag.Message<br>
       
    }
    

    <!-- Replace #'s with AT symbol -->
    @model List<string>
    @foreach (var element in Model)
    {
        <p>@Html.DisplayFor(m => element)</p>
    } 

    <!--#foreach (string results in ViewBag.Results)
    {
        #Html.Label(results)
        <br />
    } -->

</body>
</html>  

