@model List<Stardome.DomainObjects.SiteSetting>
@if (Request.IsAuthenticated == false)
{
    Response.Redirect("~/Account/Login");
}

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>

        </div>
    </section>
}
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Registration Form</legend>
        <section>
            <table>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>

                            <b>
                                @Html.DisplayFor(m => Model[i].Name)
                                @Html.HiddenFor(m => Model[i].Name)
                                @Html.HiddenFor(m => Model[i].Id)
                            </b>
                        </td>
                        <td>@Html.TextBoxFor(m => Model[i].Value)
                            @*<div class="message-info">
                                <p>
                                    Changing these information can affect the websites performance.
                                </p>
                            </div>*@
                        </td>
                    </tr>
                }
            </table>
            <div style="width:650px; clear:left; float:left;">
                <input type="submit" value="Update" />
            </div>
        </section>
    </fieldset>
    <h3> @Html.Label("lblUpdateMessage",(string)ViewBag.UpdateMessage) </h3>
}

